.imgSkills{
    width:48px;
    height: 48px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    padding: 20px 20px;
    background-color: #1e252f;
    border: 0.5rem solid black;
    border-radius: 2rem;
}

.containerSkills{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.skill p{
    margin: 0px;
}

.titulo{
    color:white;
    text-align: center;
}

.containerH2Skills{
    background-color: #141d24;
    border-bottom: 3px solid #21303e;
    border-right: 3px solid #21303e;
    border-radius: 25px;
    margin: 10px;
    padding-bottom: 15px;
}

@media (min-width:1025px){
    .container{
        width: 50vw;
    }
}