.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.react-icons{
    width: 3rem;
    height: 3rem;
    transition: 1s;
}

.react-icons:hover{
    fill: aqua;
    cursor: pointer;
    transform: scale(1.2);
}

.react-icons-github{
    fill: black;
}

.react-icons-linkedin{
    fill: rgb(45, 78, 186);
}

.react-icons-instagram{
    fill:  #fd5949;
}

.react-icons-youtube{
    fill:  red;
}