.containerProyects {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 80%;
  margin: 10px auto;
  padding: 20px 20px;
  background-color: #1e252f;
  border: 0.5rem solid black;
  border-radius: 2rem;
  overflow-x: auto;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin: 10px auto;
  padding: 20px 20px;
  width: 100%;
  background-color: #293545;
  border: 0.2rem solid black;
  border-radius: 2rem;
  word-break: break-word;
  transition: 350ms;
  color: white;
  white-space: break-spaces;
}

.container:hover {
  /* background-color: #61dafb; */
  /* border: 0.2rem solid white; */
  /* cursor: pointer; */
}

.container:hover p,
.container:hover h2,
.container:hover a {
  /* color: black;
  text-decoration-color: rgb(0, 0, 0); */
}

.img_thumbnail {
  width: 100%;
  max-height: 300px;
  /* border-radius: 2rem; */
}

.InputGithub{
  background-color: grey;
  border-radius: 2rem;
  color:white;
  height: 2rem;
}

.InputGithub:hover{
  cursor: pointer;
  background-color: black;
}

.Info_Actions_Github {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}


/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .containerProyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    padding: 20px 20px;
    background-color: #1e252f;
    border: 0.5rem solid black;
    border-radius: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin: 10px auto;
    padding: 20px 20px;
    width: 100%;
    background-color: #293545;
    border: 0.2rem solid black;
    border-radius: 2rem;
    word-break: break-word;
    transition: 350ms;
    color: white;
  }
}

@media (min-width: 1025px) and (max-width: 1385px) {
  .containerProyects {
    width: 50vw;
  }
  .container {
    width: 100%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1386px) {
  .containerProyects {
    width: 50vw;
  }
  .container {
    min-width: 300px;
    max-width: 300px;
  }
}
