.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    padding: 20px 20px;
    background-color: #1e252f;
    border: 0.5rem solid black;
    border-radius: 2rem;
}

.form{
    width: 80%;
    margin: 10px auto;
}

.DivTextarea{

    min-height: 5rem;
    background-color: #293545;
    color: white;
    border: 3px white solid;
    border-radius: 2rem;
    text-align: justify;
    padding: 2rem;
    margin-bottom: 1rem;
}

.textarea{
    width: -webkit-fill-available;
    background-color: #293545;
    color: white;
    text-align: justify;
    padding: 2rem;
    overflow: scroll;
    margin-bottom: 1rem;
    min-height: 200px;
}

.inputEmail{
    background-color: #293545;
    color: white;
    border: 3px white solid;
    border-radius: 2rem;
    text-align: center;
    overflow: scroll;
    width: 40%;
    height: 2rem;
    margin-bottom: 1rem;
}

.inputSubject{
    background-color: #293545;
    color: white;
    border: 3px white solid;
    border-radius: 2rem;
    text-align: center;
    overflow: scroll;
    width: 40%;
    height: 2rem;
    margin-bottom: 1rem;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid white;
  border-radius: 2rem;
}

.submit{
    background-color: #293545;
    color: white;
    border: 3px white solid;
    border-radius: 2rem;
    text-align: center;
    width: 40%;
    height: 2rem;
    margin-bottom: 1rem;
}

.submit:hover{
    cursor:pointer;
    background-color: var(--colorHover);
    color: black;
    font-weight: 800;
}

.divSended{
    margin:10px auto;
}

@media (max-width:767px){
    .inputEmail{
        width: 100%;
    }
    .inputSubject{
        width: 100%;
    }
    .submit{
        width: 100%;
    }
}

@media (min-width:1025px){
    .container{
        width: 50vw;
    }
}